apiVersion: v1
kind: Service
metadata:
  name: playground-postgres
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/component: postgres
  ports:
    - name: postgres
      port: 5432
      targetPort: postgres

